*.sass-cache*
node_modules
_images/Thumbs.db
*.db
_notes
.gitattributes
_psd
.errordocs
/acts
/andyperri
/backup
/backups
/family
/fatpanty
/fhl
/JimOrsund
/meredithmeans
/mom
/pictures
/stantonmeans
/temp
/Thad
/theburn2012
/woodstove-baffle-board
sftp-config.json
/Wordpress
/conspectus
/my-new-site/backups
*config*
*vendor*
website-email/pearle-vision
package-lock.json 
package.json 
