#cv {
  #contact-body {
    width: 90%;
    margin: 0 auto 20px auto;


    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .left-side,
      .right-side {
        width: 50%;
      }

      .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        & > p {
          line-height: 1.5em;
        }
        & > img {
          width: 100%;
          max-width: 200px;
        }
        .bob {
          margin-top: 0.8em;
          font-size: 0.8em;
          color: #757575;

        }
        // .fa-mobile-alt,
        // .fa-envelope {
        //   position: absolute;
        //   line-height: 1.5em;
        //   font-size: 1.5em;
        // }
      }
      .right-side {
        order: 2;
      }
      label {
        display: block;
        margin: 1em 0 0.2em;
      }
      input {
        font-family: 'Architects Daughter', 'Lato', Tahoma, Arial, sans-serif;
        padding: 0.5em;
        width: 100%;
        max-width: 300px;
        font-size: 1em;
        height: 1.5em;
        color: #313131;
        background-color: rgba(96,120,163,0.1);
        border: none;
        border-bottom: 1px solid #b1b1b1;
        outline: none;
        &:focus {
          background-color: rgba(96,120,163,0);
        }
        // border: 1px solid #bfbfbf;
        // border-radius: 3px;
      }
      textarea {
        font-family: 'Architects Daughter', 'Lato', Tahoma, Arial, sans-serif;
        padding: 0.5em;
        width: 100%;
        max-width: 400px;
        height: 6em;
        font-size: 1em;
        color: #313131;
        line-height: 1.2em;
        background-color: rgba(96,120,163,0.1);
        border: none;
        border-top: 1px solid #b1b1b1;
        border-bottom: 1px solid #b1b1b1;
        outline: none;
        // border: 1px solid #bfbfbf;
        border-radius: 3px;
        resize: none;
        &:focus {
          background-color: rgba(96,120,163,0);
        }
      }
    }   

    p.intro {
      margin-top: 2em;
      line-height: 1.5em;
    }
  }
}


#cv #contact-body form#contactForm {
  span {
    padding: 1em;
    border: 1px solid lightseagreen;
    display: flex;
    line-height: 1.5em;
  }
  input#emailBob {
    // display: inline-block;
    float: left;
    width: 150px;
    padding: 1em;
    // margin: 10px 0;
    text-align: center;
    // border-radius: 3px;
    border: 1px solid #233851;
    background-color: #565656;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    &:hover {
      background-color: #82c33a;
      border: 1px solid #acff4c;
      color: #fff;
    }
    &:active, &:focus {
      outline: none;
      outline-style: 0;
    }     
  }
  #msg {
    margin-top: 0.75em;
    width: 100%;
    span {
      margin: 0.75em 0;
      // background-color: ;
    }
    .alert-warning {
      margin-bottom: 0.5em;
      border-radius: 5px;
      padding: 0.75em;
      font-size: 1em;
      color: #313131;
      background-color: #ffdddd;
      border: 1px solid #ff5a5a;
    }
    .alert-success {
      margin-bottom: 0.5em;
      border-radius: 5px;
      padding: 0.75em;
      font-size: 1em;
      color: #fff;
      background-color: #82c33a;
      border: 1px solid #45661f;
    }
  }


}





input#send {
  padding: 10px 20px;
  background-color: rgba(0,0,255,1);
  color: #fff;
  border: 1px solid transparent;
  transition: all .3s ease;
  &:hover {
    background-color: rgba(0,0,255,0.7); 
    border: 1px solid blue;
    cursor: pointer;
  }
}

button#confirm {
  float: left;
  margin-top: 10px;
  max-width: 300px;
  padding: 10px 12px;
  // border-radius: 8px;
  border: 1px solid #950808;
  background: #ba2222;
  color: #fff;
  cursor: default;
  &:active, &:focus {
    outline: 0;
    outline-style: 0;
  }

}
button.enable-submit {
  display: none;
}
button#send {
  float: left;
  margin-top: 10px;
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #206311;
  background-color: rgba(89,203,61,1);
  background-color: rgba(0,158,85,1);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(89,203,61,0.2);
    background-color: rgba(0,158,85,0.3);
    color: #fff;
  }
  &:active, &:focus {
    outline: 0;
    outline-style: 0;
  }
}
.display {
  display: none;
}
span.success-msg {
  color: red;
  line-height: 1.5em;
}

@media screen and (max-width: 800px) {
  #cv {
    #contact-body {
      .form-container {
        flex-direction: column;
        align-items: start;
        .right-side {
          order: 1;
          width: 100%;
        }
        .left-side {
          order: 2;
          width: 100%;
          align-self: center;
        }
      }
    }
  }
}