<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Dropdown nav</title>
<link href="new_nav.css" rel="stylesheet" type="text/css" />
</head>

<body>


<ul id="navbar">
    <li><a href="#">About</a></li>
    <li><a href="#">Mission</a></li>
    <li class="projects"><a href="#">Projects</a>
        <ul>
          <li><a href="#">Websites</a></li>
          <li><a href="#">Video</a></li>
       	</ul>
    </li>
    <li><a href="#">Contact</a></li>
</ul>




</body>
</html>
