@charset "UTF-8";

/* ------------------------------------------------------- old css
nav {
	top: 276px;
	overflow: hidden;
	width: 100%;
	text-align: right;
	display: block;
}
nav a {
	color: #666;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	display: inline-block;
	width: 45px;
	text-align: center; 
	padding: 0px 20px 0px 20px;
	margin-right: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
nav a:hover { 
	color: #fff;
	background-color: #1f5588;
}

-----------------------------------------------------------*/

body {/* to be removed once everything works */
	color: #666666;
	line-height: 1.5em;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-weight: normal;
	font-size: 14px;
}












nav {
	top: 276px;
	overflow: hidden;
	width: 100%;
	text-align: right;
	display: block;
}
nav a {
	color: #666;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	display: inline-block;
	width: 45px;
	text-align: center; 
	padding: 0px 20px 0px 20px;
	margin-right: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}



#navbar { /* setting basic formatting for overall navigation bar */
	font-size: .9em;	
	overflow: hidden; /* not sure about this... */
	width: 100%;
	text-align: right;
	display: block;	
	float: right;
/* removed to see what affect it has	
	margin: 0;
	padding: 0;
*/
}
#navbar li { 
/* list items are getting some attention on how they are to display. remove normal style of list items and put these in a row. */
	list-style: none;
	display: inline-block;
	/*float: left;   maybe float right? */ 
}

#navbar li a {
/* format anchor tags in the top row ... */
	display: inline-block;
	padding: 0px 20px 0px 20px;
	color: #666;
	text-decoration: none; 
	text-transform: none;
	width: 45px;
	text-align: center;	
	margin-right: 30px;
	border: 1px solid #fff; /* to keep all links same size when "Projects" gets the dotted line on _mo */	
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

#navbar li a:hover {
/* format hover state of top row */
	color: #fff;
	background-color: #1f5588;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;		
}

/* added class to Projects so I could target it specifically */
/* tricky bugger. rewrote entire selector below this one

#navbar li .projects:hover { 
	background-color: #fff;
	color: #666;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;			
}
*/

#navbar .projects:hover > a { 
/* keeps dotted line around Projects when mouse leaves to navigate dropdown */
	background-color: #fff;
	color: #666;
	border: 1px dotted #1f5588;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;	
}

#navbar li ul { 
/* hide nested <ul>'s until I'm ready for them. */
	display: none; 
	width: 45px; /* for Opera */
	position: absolute;	
	margin-left: 10px;
		padding: 0px 20px 0px 20px;
}

#navbar li:hover ul { 
/* where to position child items of Projects */
	display: block;
	padding: 0;
}		

#navbar li:hover li a {
	color: #666;
	background-color: #fff;
	text-align: left; /* aligns text on dropdown under parent item */
	border: 1px solid #fff;
}
	
#navbar li li a:hover { 
	color: #fff;
	background-color: #1f5588;
	border: 1px solid #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;	
}












