@charset "utf-8";
/* CSS Document */



.textNav:link {
	color: #00F;
	text-decoration: none;
	padding: 15px;
}
.textNav:visited {
	color: #00F;
	text-decoration: none;
}

.textNav:hover {
	color: #00F;
	text-decoration: underline;
}
.textNav:active {
	color: #00F;
	text-decoration: underline;
}
body {
	font-family: Tahoma, Geneva, sans-serif, Calibri;
	font-size: .9em;
}
